<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="GeneralAppSettings" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <GeneralAppSettings>
    <add key="Company" value="Scotbeef" />
    <add key="Site" value="Queenslie" />
    <add key="SiteNumber" value="1611" />
    <add key="CustomerCode" value="05060045" />
    <add key="ServerName" value ="10.3.1.7" />
    <add key="DatabaseName" value ="si" />
    <add key="UserName" value ="siuser" />
    <add key="UserPassword" value ="si" />
  </GeneralAppSettings>

</configuration>