<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="GeneralAppSettings" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <GeneralAppSettings>
    <add key="DatabaseConnectionString" value ="10" />
  </GeneralAppSettings>

</configuration>